// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


#urlInput {
  width: 50%;
}

.ui-container {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: @text-color;

}

#response-header {
  display: flex;
  justify-content: space-between;
}

input,select {
//  margin-right: 10px;
}

.request {

}

.response {
  display: flex;
  flex-direction: column;
}
